:root {
  font-family: sans-serif;
  font-size: 16px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

h2 {
  font-size: inherit;
  font-weight: bold;
  margin: 0;
}

.g-top {
  margin-top: var(--g);
}

body {
  display: flex;
  align-items: stretch;
  background-color: #FFFEED;

  --light-color: #EDEDED;
  --middle-color: #A89C83;
  --darker-color: #7A6F5F;
  --dark-color: #4A4335;
  --g: 15px;

  color: var(--dark-color);
  accent-color: var(--dark-color);

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#main-view {
  flex: 1;
  min-width: 0;
  min-height: 0;
  position: relative;
}

#main-view .overlay {
  position: absolute;
  top: var(--g);
  left: var(--g);
  right: var(--g);
  bottom: var(--g);
}

#main-view.input-method {
  position: absolute;
  left: 0;
  top: 0;
}

#main-view .clear {
  position: absolute;
  right: 0;
  top: 0;
}

#main-view .stats {
  position: absolute;
  left: 0;
  bottom: 0;
}

#side-panel {
  flex: none;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 30vw;
}

#controls {
  padding: var(--g);
}

#controls>*:not(:last-child) {
  margin-bottom: calc(0.6 * var(--g));
}

#detail-view {
  flex: none;
  width: 100%;
  padding-top: 100%;
  margin-left: 2px;
}

#main-view,
#detail-view {
  position: relative;
}

canvas {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: #E8DFCC;
}

button {
  font-size: inherit;
  font-family: inherit;
  color: inherit;
  border: none;
  background-color: var(--middle-color);
  padding: 6px 12px;
}

button:hover {
  background-color: var(--darker-color);
}

label[for="threshold-range"] {
  display: flex;
  justify-content: space-between;
}

input[type="range"] {
  width: 100%;
  margin: 0;
}

input[type="checkbox"] {
  width: 1.2em;
  height: 1.2em;
  margin: 0;
  margin-right: 0.4em;
}

.checkbox {
  display: flex;
  align-items: center;
}